---
layout: page
title: Research
permalink: /research/
---

<div class="research">
<br />

<h2 id="EoE">Chinese Voting Process:</h2>
This is a research project with  
<a href="http://mimno.infosci.cornell.edu" target="_blank">Prof. David Mimno</a>
and
<a href="http://www.cs.cornell.edu/~moontae/" target="_blank">Moontae Lee</a>.

<br />
<h4>Abstract:</h4>
    <div style="margin-left:2em;"
<p>
Many online communities present user-contributed responses to items, such as answers to questions and reviews of products.
User-provided helpfulness votes can make useful responses more visible, but voting is a social process that can gain momentum based on the popularity of responses and the polarity of existing votes.
We propose the Chinese Voting Process (CVP) which models the evolution of helpfulness votes as a self-reinforcing process dependent on position and presentation biases.
We evaluate this model on Amazon product reviews and 84 StackExchange forums, measuring the intrinsic quality of individual responses and behavioral coefficients of different communities.
</p>
</div>

<center>
        <img src="{{ site.baseurl }}/images/2d_embedding.png" alt="EoE" style="width:;">
</center>
    <small>
        <div style="line-height:175%;">
            Figure shows a pattern in online communities of Amazon and more than <a href="http://stackexchange.com/sites?view=list#traffic" target="_blank">200 StackExchange communities</a>.
            In the figure, we present two behavioral coefficients, 'Trendiess' (x-axis) and 'Conformity' (y-axis), which we claim are two major
            factors of bias. Above embedding presents the varying degrees to which the two factors are present in different online communities.
            One interesting result is the clustering of similar communities, even though we used no information on textual content.
            Another interesting result is how the coordinates align with our intuitive expectation of bias for each community.
        </div> 
    </small>

<h4>Publications:</h4>
<div style="margin-left:2em;"> 
    <h6>Conference:</h6>
        <ul>
            <li>
            Moontae Lee, <u>Seok Hyun Jin</u>, David Mimno.
            "Beyond Exchangeability: The Chinese Voting Process". <br />
            Neural Information Processing Systems (NIPS), 2016,
            Barcelona, Spain. 
            <strong style='color:red;'>Full Oral</strong>
            <i> (Acceptance rate: 46 / 2500 ~ 1.84%)</i>
            <br />
            [<a href="https://arxiv.org/pdf/1610.09428v1.pdf" target="_blank">PDF</a>]
            [<a href="https://arxiv.org/abs/1610.09428" target="_blank">arXiv</a>]
            </li>
        </ul> 
    <h6>Workshop: </h6>
        <ul>
            <li>
                Moontae Lee, <u>Seok Hyun Jin</u>, David Mimno.
                "The Chinese Voting Process: The Evolution of Online Helpfulness Evaluations in Product Reviews and Question Answers".
                In <i>Proceedings of the 12th INFORMS Workshop on Data Mining and Decision Analytics</i>, Houston, Texas.
                Selected for Oral Presentations. 
                <br />
                [<a href="http://www.cs.cornell.edu/~moontae/pdfs/Moontae_Lee-INFORMS2017b.pdf" target="_blank">PDF</a>]
            </li>
        </ul> 
</div>


<hr>


<h2 id="Robobarista">Robobarista:</h2>

This is a research project with  
<a href="http://www.cs.stanford.edu/people/asaxena/index.html" target="_blank">Prof. Ashutosh Saxena</a>
and
<a href="http://www.jaeyongsung.com" target="_blank">Jaeyong Sung</a>.
<br />
<br />
<center>
<img src="{{ site.baseurl }}/images/pr2_espresso.jpg" alt="Robobarista" style="width:550px;">
</center>
<h4>Abstract:</h4>
<div style="margin-left:2em;"> There is a large variety of objects and appliances in human environments, such as stoves, 
coffee dispensers, juice extractors, and so on.  It is challenging for a roboticist to program a 
robot for each of these object types and for each of their instantiations.
In this work, we present a novel approach to manipulation planning
based on the idea that many household objects share similarly-operated object parts.
We formulate the manipulation planning as a structured prediction problem
and design a deep learning model that can handle large noise in the manipulation demonstrations
and learns features from three different modalities: point-clouds, language and trajectory.
In order to collect a large number of manipulation demonstrations for different objects,
we developed a new crowd-sourcing platform called Robobarista.
We test our model on our dataset consisting of 116 objects with 249 parts
along with 250 language instructions, for which there are 1225 crowd-sourced 
manipulation demonstrations.
We further show that our robot can even manipulate objects it has never
seen before.
<br />
<center>
<img src="{{ site.baseurl }}/images/figure2_isrr_v2.png" alt="Robobarista" style="">
</center>
</div>
[<b><a href="http://robobarista.cs.cornell.edu" target="_blank">Project Website</a></b>]


<h4>Videos:</h4> 
<br />
<center>
<iframe width="500" height="281" src="https://www.youtube.com/embed/ggrPMR4jaWo" frameborder="0" allowfullscreen></iframe>
<iframe width="500" height="281" src="https://www.youtube.com/embed/QHLiIpw_4pQ" frameborder="0" allowfullscreen></iframe>
</center>

<h4>Publications:</h4>
<div style="margin-left:2em;"> 
    <h6>Journal: </h6>
        <ul>
            <li>
            Jaeyong Sung, <u>Seok Hyun Jin</u>, Ian Lenz, Ashutosh Saxena.
            "Robobarista: Learning to Manipulate Novel Objects via Deep Multimodal Embedding". <br />
            Status: Under review for <i>International Journal of Robotics Research (IJRR)</i>.
                <br />
                [<a href="http://arxiv.org/pdf/1601.02705v1.pdf" target="_blank">PDF</a>]
                [<a href="http://arxiv.org/abs/1601.02705" target="_blank">arXiv</a>]
            </li>
        </ul> 

    <h6>Conference: </h6>
        <ul>
            <li>
                Jaeyong Sung, <u>Seok Hyun Jin</u>, Ashutosh Saxena.
                "Robobarista: Object Part-based Transfer of Manipulation Trajectories from Crowd-sourcing in 3D Pointclouds".<br />
                In <i>International Symposium on Robotics Research (ISRR), 2015</i>.
                <br />
                [<a href="http://arxiv.org/pdf/1504.03071v2.pdf" target="_blank">PDF</a>]
                [<a href="http://arxiv.org/abs/1504.03071" target="_blank">arXiv</a>]
            </li>
        </ul> 

    <h6>Workshop: </h6>
        <ul>
            <li>
                Jaeyong Sung, <u>Seok Hyun Jin</u>, Ashutosh Saxena.
                "Robobarista: Object Part-based Transfer of Manipulation Trajectories from Crowd-sourcing in 3D Pointclouds".<br />
                In <i>AAAI-RSS Special Workshop on the 50th Anniversary of Shakey at RSS, 2015</i>.
                <br />
                (<a href="http://www.cccblog.org/2015/08/03/blue-sky-ideas-aaai-rss-special-workshop-on-the-50th-anniversary-of-shakey/" target="_blank"><font color="red">
                Won 50-years of Shakey Blue Sky Ideas Award
                </font>
                </a>)
            </li>
        </ul> 

    <h6>Others:</h6>
        <ul>
            <li>
                Jaeyong Sung, Ian Lenz, <u>Seok Hyun Jin</u>, Ashutosh Saxena.
                "Robobarista: Learning to Manipulate Novel Objects via Deep Multimodal Embedding".<br />
                In <i>BayLearn Symposium, 2015</i>.
                <br />
                [<a href="{{ site.baseurl }}/pdfs/robobarista_embedding_baylearn.pdf" target="_blank">PDF</a> (extended abstract)]

            </li>
        </ul> 
</div> 






</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
